name: Go

on: [push, pull_request]

jobs:

  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -short ./...

  format:
    runs-on: ubuntu-latest
    steps:
    - name: Check code formatting using gofmt
      uses: Jerome1337/gofmt-action@v1.0.4
